// auger FONT


@font-face {
  font-family: "auger-300";
  src: url("https://use.typekit.net/af/801002/00000000000000007735f32c/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("woff2"),
  url("https://use.typekit.net/af/801002/00000000000000007735f32c/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("woff"),
  url("https://use.typekit.net/af/801002/00000000000000007735f32c/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 300;
  font-stretch: normal;
}

@font-face {
  font-family: "auger-400";
  src: url("https://use.typekit.net/af/c7bad6/00000000000000007735f32e/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3")
  format("woff2"), url("https://use.typekit.net/af/c7bad6/00000000000000007735f32e/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),
  url("https://use.typekit.net/af/c7bad6/00000000000000007735f32e/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
}

@font-face {
  font-family: "auger-500";
  src: url("https://use.typekit.net/af/346cc2/00000000000000007735f32d/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3") format("woff2"),
  url("https://use.typekit.net/af/346cc2/00000000000000007735f32d/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3") format("woff"),
  url("https://use.typekit.net/af/346cc2/00000000000000007735f32d/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3") format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 500;
  font-stretch: normal;
}

@font-face {
  font-family: "auger-700";
  src: url("https://use.typekit.net/af/cf6884/00000000000000007735f331/30/l?subset_id=2&fvd=n7&v=3") format("woff2"),
  url("https://use.typekit.net/af/cf6884/00000000000000007735f331/30/d?subset_id=2&fvd=n7&v=3") format("woff"),
  url("https://use.typekit.net/af/cf6884/00000000000000007735f331/30/a?subset_id=2&fvd=n7&v=3") format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 700;
  font-stretch: normal;
}


@font-face {
  font-family: "auger-900";
  src: url("https://use.typekit.net/af/9bc7b2/00000000000000007735f330/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n9&v=3") format("woff2"), url("https://use.typekit.net/af/9bc7b2/00000000000000007735f330/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n9&v=3") format("woff"), url("https://use.typekit.net/af/9bc7b2/00000000000000007735f330/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n9&v=3") format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 900;
  font-stretch: normal;
}

